body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #dddddd;
}

.board-container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.mode-selection {
    margin-bottom: 20px;
}

.mode-btn {
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    margin: 10px;
    border-radius: 5px;
}

.mode-btn.active {
    background-color: #007bff;
    color: white;
    
}
.mode-btn:not(.active):hover {
    background-color: #e2e6ea;
    border-color: #dae0e5;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    border-radius: 5px; 
    transform: scale(1.1);
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    margin-bottom: 20px;
}


.cell {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border: 2px solid #aaa;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    background-color: #f0f0f0;
}

.game-status {
    margin-bottom: 20px;
    font-size: 1.5rem;
    min-height: 1.5rem;
}

.restart-btn {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

.winCells {
    background-color: #90ee90;
}

.winCells:hover {
    background-color: #90ee90;
}
