/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&family=JetBrains+Mono:wght@400;700&display=swap');
body {
    font-family: 'Space Grotesk', sans-serif;
}

/* Teksimääritykset */
h1, h2, h3 {
    font-family: 'JetBrains Mono', monospace;
}

.game-container {
    max-width: 500px;
    max-height: 640px;
}

/* Pisteet */
.score {
    font-size: 1.2em;
    font-weight: bold;
}

.navbar-brand {
    font-weight: bold;
}

/* Pelilaudan asetukset */
.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);    
    gap: 5px;
    width: 310px; /* (100px * 3) + (5px * 2) */
}

/*  Solujen asetukset */
.cell {
    width: 100px;
    height: 100px;
    font-size: 4em;
    font-weight: bold;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s, transform 0.2s;

}

/* hover peliruudun yllä */
.cell:hover {
    transform: scale(1.07); /* Pienennetään hieman skaalausta siistimmän efektin saamiseksi */
    z-index: 10; /* Varmistaa, että hoveroitu solu on muiden päällä */
}

/* pelitilanteen näyttö */
.game-status {
    font-size: 1.5em;
    min-height: 1.5em;
    font-weight: bold;
}

/* Värit plejaajille */
.cell.player-x {
    color: #0dcaf0; /* Bootstrap info color */
}

.cell.player-o {
    color: #ffc107; /* Bootstrap warning color */
}

/* Animaatio voittajalle */
.cell.winner {
    animation: flash 0.5s 3;
}

.game-board.shake {
    animation: shake 0.8s;
}

@keyframes flash {
    0%, 100% { background-color: #6c757d; } /* Bootstrap secondary */
    50% { background-color: #198754; } /* Bootstrap success */
}

@keyframes pulse {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.1); }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* Medie quaryt */
@media (max-width: 768px) {
    .game-board {
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: repeat(3, 80px);
        gap: 8px;
        width: 256px; /* (80px * 3) + (8px * 2) */
    }

    /* Solujen koko pieneneee niiin ettö se näky hybin puheoiella */
    .cell {
        width: 80px;
        height: 80px;
        font-size: 3em;
    }

    .button.vs-player, .button.vs-ai {
        font-size: 0.9em;
    }

}